menu "ESP-Brookesia: Service NVS Configurations"
    config BROOKESIA_SERVICE_NVS_ENABLE_AUTO_REGISTER
        bool "Enable automatic plugin registration"
        default y
        help
            Automatically register the service as a plugin on startup.

    menuconfig BROOKESIA_SERVICE_NVS_ENABLE_DEBUG_LOG
        bool "Enable debug or lower level logs"
        default n

    menu "Worker"
        depends on BROOKESIA_SERVICE_MANAGER_WORKER_STACK_IN_EXT

        config BROOKESIA_SERVICE_NVS_WORKER_NAME
            string "Name"
            default "SvcNVSWorker"
            help
                The name of the worker thread.

        config BROOKESIA_SERVICE_NVS_WORKER_CORE_ID
            int "Core ID"
            default -1
            help
                The core ID of the worker thread. `-1` means the core ID is not specified.

        config BROOKESIA_SERVICE_NVS_WORKER_PRIORITY
            int "Priority"
            default 5
            help
                The priority of the worker thread.

        config BROOKESIA_SERVICE_NVS_WORKER_STACK_SIZE
            int "Stack size"
            default 5120
            help
                The stack size of the worker thread.

        config BROOKESIA_SERVICE_NVS_WORKER_POLL_INTERVAL_MS
            int "Poll interval (ms)"
            default 10
            range 1 10
            help
                The interval of the worker poll.
    endmenu
endmenu
