menuconfig ESP_BROOKESIA_GUI_ENABLE_ANIM_PLAYER
    bool "Animation Player"
    default y

if ESP_BROOKESIA_GUI_ENABLE_ANIM_PLAYER
    config ESP_BROOKESIA_ANIM_PLAYER_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y
endif # ESP_BROOKESIA_GUI_ENABLE_ANIM_PLAYER

menu "LVGL"
    menuconfig ESP_BROOKESIA_LVGL_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y

    if ESP_BROOKESIA_LVGL_ENABLE_DEBUG_LOG
        config ESP_BROOKESIA_LVGL_ANIMATION_ENABLE_DEBUG_LOG
            bool "Animation"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_CANVAS_ENABLE_DEBUG_LOG
            bool "Canvas"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_CONTAINER_ENABLE_DEBUG_LOG
            bool "Container"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_DISPLAY_ENABLE_DEBUG_LOG
            bool "Display"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_HELPER_ENABLE_DEBUG_LOG
            bool "Helper"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_LOCK_ENABLE_DEBUG_LOG
            bool "Lock"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_OBJECT_ENABLE_DEBUG_LOG
            bool "Object"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_SCREEN_ENABLE_DEBUG_LOG
            bool "Screen"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y

        config ESP_BROOKESIA_LVGL_TIMER_ENABLE_DEBUG_LOG
            bool "Timer"
            depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
            default y
    endif
endmenu

menuconfig ESP_BROOKESIA_GUI_ENABLE_SQUARELINE
    bool "Squareline Helpers"
    default y

if ESP_BROOKESIA_GUI_ENABLE_SQUARELINE
    config ESP_BROOKESIA_SQUARELINE_ENABLE_UI_COMP
        bool "Use UI component from inside"
        default y

    config ESP_BROOKESIA_SQUARELINE_ENABLE_UI_HELPERS
        bool "Use UI helpers from inside"
        default y
endif

menu "Style"
    config ESP_BROOKESIA_STYLE_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y
endmenu
