menu "ESP Brookesia Configurations"
    config ESP_BROOKESIA_CONF_FILE_SKIP
        bool "Enable to skip `esp_brookesia_conf.h`"
        default y
        help
            If want to use `esp_brookesia_conf.h` to configure the library, uncheck this option. Otherwise, the configurations in sdkconfig will be used.

    menuconfig ESP_BROOKESIA_CONF_ENABLE_GUI
        bool "GUI"
        depends on ESP_BROOKESIA_CONF_FILE_SKIP
        default y

    if ESP_BROOKESIA_CONF_ENABLE_GUI
        rsource "src/gui/Kconfig"
    endif

    menuconfig ESP_BROOKESIA_CONF_ENABLE_SYSTEMS
        bool "Systems"
        depends on ESP_BROOKESIA_CONF_FILE_SKIP
        default y

    if ESP_BROOKESIA_CONF_ENABLE_SYSTEMS
        rsource "src/systems/Kconfig"
    endif
endmenu
