CONFIG_SR_WN_WN9_HIESP=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# LVGL
CONFIG_ESP_LVGL_ADAPTER_ENABLE_FREETYPE=y
CONFIG_LV_USE_FREETYPE=y
CONFIG_LV_CACHE_DEF_SIZE=1024000
CONFIG_LV_IMAGE_HEADER_CACHE_DEF_CNT=32
