menu "Xiaozhi Assistant"
    config XIAOZHI_OTA_URL
        string "Default OTA URL"
        default "https://api.tenclass.net/xiaozhi/ota/"
        help
            The application will access this URL to check for new firmwares and server address.
endmenu
