menu "Base"
    menuconfig ESP_BROOKESIA_BASE_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y

    if ESP_BROOKESIA_BASE_ENABLE_DEBUG_LOG
        config ESP_BROOKESIA_BASE_APP_ENABLE_DEBUG_LOG
            bool "App"
            default y

        config ESP_BROOKESIA_BASE_DISPLAY_ENABLE_DEBUG_LOG
            bool "Display"
            default y

        config ESP_BROOKESIA_BASE_EVENT_ENABLE_DEBUG_LOG
            bool "Event"
            default y

        config ESP_BROOKESIA_BASE_MANAGER_ENABLE_DEBUG_LOG
            bool "Manager"
            default y

        config ESP_BROOKESIA_BASE_CORE_ENABLE_DEBUG_LOG
            bool "Core"
            default y
    endif
endmenu

menuconfig ESP_BROOKESIA_SYSTEMS_ENABLE_PHONE
    bool "Phone"
    default y

if ESP_BROOKESIA_SYSTEMS_ENABLE_PHONE
    menuconfig ESP_BROOKESIA_PHONE_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y

    if ESP_BROOKESIA_PHONE_ENABLE_DEBUG_LOG
        config ESP_BROOKESIA_PHONE_APP_ENABLE_DEBUG_LOG
            bool "App"
            default y

        config ESP_BROOKESIA_PHONE_HONE_ENABLE_DEBUG_LOG
            bool "Display"
            default y

        config ESP_BROOKESIA_PHONE_MANAGER_ENABLE_DEBUG_LOG
            bool "Manager"
            default y

        config ESP_BROOKESIA_PHONE_PHONE_ENABLE_DEBUG_LOG
            bool "Phone"
            default y

        config ESP_BROOKESIA_PHONE_APP_LAUNCHER_ENABLE_DEBUG_LOG
            bool "App launcher"
            default y

        config ESP_BROOKESIA_PHONE_GESTURE_ENABLE_DEBUG_LOG
            bool "Gesture"
            default y

        config ESP_BROOKESIA_PHONE_NAVIGATION_BAR_ENABLE_DEBUG_LOG
            bool "Navigation bar"
            default y

        config ESP_BROOKESIA_PHONE_RECENTS_SCREEN_ENABLE_DEBUG_LOG
            bool "Recents screen"
            default y

        config ESP_BROOKESIA_PHONE_STATUS_BAR_ENABLE_DEBUG_LOG
            bool "Status bar"
            default y
    endif
endif # ESP_BROOKESIA_SYSTEMS_ENABLE_PHONE

menuconfig ESP_BROOKESIA_SYSTEMS_ENABLE_SPEAKER
    bool "Speaker"
    default y

if ESP_BROOKESIA_SYSTEMS_ENABLE_SPEAKER
    menuconfig ESP_BROOKESIA_SPEAKER_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y

    if ESP_BROOKESIA_SPEAKER_ENABLE_DEBUG_LOG
        config ESP_BROOKESIA_SPEAKER_AI_BUDDY_ENABLE_DEBUG_LOG
            bool "AI buddy"
            default y

        config ESP_BROOKESIA_SPEAKER_APP_ENABLE_DEBUG_LOG
            bool "App"
            default y

        config ESP_BROOKESIA_SPEAKER_DISPLAY_ENABLE_DEBUG_LOG
            bool "Display"
            default y

        config ESP_BROOKESIA_SPEAKER_MANAGER_ENABLE_DEBUG_LOG
            bool "Manager"
            default y

        config ESP_BROOKESIA_SPEAKER_SPEAKER_ENABLE_DEBUG_LOG
            bool "Speaker"
            default y

        config ESP_BROOKESIA_SPEAKER_APP_LAUNCHER_ENABLE_DEBUG_LOG
            bool "App launcher"
            default y

        config ESP_BROOKESIA_SPEAKER_GESTURE_ENABLE_DEBUG_LOG
            bool "Gesture"
            default y

        config ESP_BROOKESIA_SPEAKER_KEYBOARD_ENABLE_DEBUG_LOG
            bool "Keyboard"
            default y

        config ESP_BROOKESIA_SPEAKER_QUICK_SETTINGS_ENABLE_DEBUG_LOG
            bool "Quick settings"
            default y
    endif

    config ESP_BROOKESIA_SPEAKER_FS_MOUNT_POINT
        string "File system mount point"
        default "/sdcard"
endif # ESP_BROOKESIA_SYSTEMS_ENABLE_SPEAKER
