menuconfig ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_AGENT
    bool "Agent"
    default y

if ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_AGENT
    config ESP_BROOKESIA_AGENT_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y
endif # ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_AGENT

menuconfig ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_EXPRESSION
    bool "Expression"
    default y

if ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_EXPRESSION
    config ESP_BROOKESIA_EXPRESSION_ENABLE_DEBUG_LOG
        bool "Enable debug log output"
        depends on ESP_UTILS_CONF_LOG_LEVEL_DEBUG
        default y
endif # ESP_BROOKESIA_AI_FRAMEWORK_ENABLE_EXPRESSION
