menu "ESP-Brookesia: Service WiFi Configurations"
    config BROOKESIA_SERVICE_WIFI_ENABLE_AUTO_REGISTER
        bool "Enable automatic plugin registration"
        default y
        help
            Automatically register the service as a plugin on startup.

    menuconfig BROOKESIA_SERVICE_WIFI_ENABLE_DEBUG_LOG
        bool "Enable debug or lower level logs"
        default n

    if BROOKESIA_SERVICE_WIFI_ENABLE_DEBUG_LOG
        config BROOKESIA_SERVICE_WIFI_SERVICE_ENABLE_DEBUG_LOG
            bool "Service"
            default y

        config BROOKESIA_SERVICE_WIFI_HAL_ENABLE_DEBUG_LOG
            bool "Hal"
            default y

        config BROOKESIA_SERVICE_WIFI_STATE_MACHINE_ENABLE_DEBUG_LOG
            bool "State Machine"
            default y
    endif

    menuconfig BROOKESIA_SERVICE_WIFI_ENABLE_WORKER
        bool "Enable worker"
        default n

    if BROOKESIA_SERVICE_WIFI_ENABLE_WORKER
        menu "General"
            config BROOKESIA_SERVICE_WIFI_WORKER_NAME
                string "Name"
                default "SvcWifiWorker"
                help
                    The name of the worker thread.

            config BROOKESIA_SERVICE_WIFI_WORKER_PRIORITY
                int "Priority"
                default 5
                help
                    The priority of the worker thread.

            config BROOKESIA_SERVICE_WIFI_WORKER_STACK_SIZE
                int "Stack size"
                default 8192
                help
                    The stack size of the worker thread.

            config BROOKESIA_SERVICE_WIFI_WORKER_STACK_IN_EXT
                bool "Stack in external memory"
                depends on SPIRAM
                default y
                help
                    Whether the stack of the worker thread is in external memory. If enabled, the stack will be allocated in external memory.

            config BROOKESIA_SERVICE_WIFI_WORKER_POLL_INTERVAL_MS
                int "Poll interval (ms)"
                default 10
                range 1 10
                help
                    The interval of the worker poll.
        endmenu

        config BROOKESIA_SERVICE_WIFI_WORKER_0_CORE_ID
            int "Core ID of Worker 0"
            default 0
            help
                The core ID of Worker 0. `-1` means the core ID is not specified.

        config BROOKESIA_SERVICE_WIFI_WORKER_1_CORE_ID
            int "Core ID of Worker 1"
            default 1
            help
                The core ID of Worker 1. `-1` means the core ID is not specified.
    endif

    menu "Timeout"
        config BROOKESIA_SERVICE_WIFI_HAL_WAIT_EVENT_STARTED_TIMEOUT_MS
            int "Wait event started timeout (ms)"
            default 1000
            range 100 30000
            help
                Timeout in milliseconds to wait for WiFi started event.

        config BROOKESIA_SERVICE_WIFI_HAL_WAIT_EVENT_STOPPED_TIMEOUT_MS
            int "Wait event stopped timeout (ms)"
            default 1000
            range 100 30000
            help
                Timeout in milliseconds to wait for WiFi stopped event.

        config BROOKESIA_SERVICE_WIFI_HAL_WAIT_EVENT_CONNECTED_TIMEOUT_MS
            int "Wait event connected timeout (ms)"
            default 15000 if ESP_HOSTED_ENABLED
            default 10000
            range 1000 30000
            help
                Timeout in milliseconds to wait for WiFi connected event.

        config BROOKESIA_SERVICE_WIFI_HAL_WAIT_EVENT_DISCONNECTED_TIMEOUT_MS
            int "Wait event disconnected timeout (ms)"
            default 1000
            range 100 30000
            help
                Timeout in milliseconds to wait for WiFi disconnected event.

        config BROOKESIA_SERVICE_WIFI_STATE_MACHINE_WAIT_STATE_MACHINE_FINISHED_TIMEOUT_MS
            int "Wait state machine finished timeout (ms)"
            default 5000 if ESP_HOSTED_ENABLED
            default 1000
            range 1000 30000
            help
                Timeout in milliseconds to wait for state machine finished.
    endmenu
endmenu
