menu "ESP-Brookesia: Agent Xiaozhi Configurations"
    config BROOKESIA_AGENT_XIAOZHI_ENABLE_AUTO_REGISTER
        bool "Enable automatic plugin registration"
        default y
        help
            Automatically register the agent as a plugin on startup.

    config BROOKESIA_AGENT_XIAOZHI_ENABLE_DEBUG_LOG
        bool "Enable debug or lower level logs"
        default n

    config BROOKESIA_AGENT_XIAOZHI_OTA_URL
        string "Default OTA URL"
        default "https://api.tenclass.net/xiaozhi/ota/"
        help
            The application will access this URL to check for new firmwares and server address.

    config BROOKESIA_AGENT_XIAOZHI_GET_HTTP_INFO_INTERVAL_MS
        int "Check activation interval in milliseconds"
        default 15000
        help
            The interval to check activation status from the server.

    config BROOKESIA_AGENT_XIAOZHI_WAKE_WORD
        string "Wake word"
        default "Hi,ESP"
        help
            The wake word to trigger the agent.
endmenu
