name: Push components to Espressif Component Service

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: 'recursive'
      - name: Upload components to component service
        uses: espressif/upload-components-ci-action@v1
        with:
          directories: >
            agent/brookesia_agent_coze;
            agent/brookesia_agent_manager;
            agent/brookesia_agent_openai;
            expression/brookesia_expression_emote;
            service/brookesia_service_audio;
            service/brookesia_service_helper;
            service/brookesia_service_manager;
            service/brookesia_service_nvs;
            service/brookesia_service_sntp;
            service/brookesia_service_wifi;
            utils/brookesia_lib_utils;
          namespace: "espressif"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
